<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${appName + ' - Sign in'}">appName - Sign in</title>
    <link href="/favicon.png" rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.png}"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link href="/css/floating-labels.css" rel="stylesheet" media="screen" th:href="@{/css/floating-labels.css}"/>
</head>
<body>
<form class="form-signin" action="#" method="post" th:action="@{/login}">
    <div class="text-center mb-4">
        <img class="img-fluid" th:src="@{/images/logo.svg}" alt="logo"/>
    </div>

    <div class="text-center mb-4">
        <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
        <div class="alert alert-success" role="alert" th:if="${successMsg}" th:text="${successMsg}">Success</div>
        <div class="alert alert-danger" role="alert" th:if="${errorMsg}" th:text="${errorMsg}">Error</div>
    </div>

    <div class="form-label-group">
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="username">Username</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <label for="password">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>
