# Tell lombok this is your root directory
config.stopBubbling=true
# Add @lombok.Generated annotations to all generated nodes where possible; useful for JaCoCo
lombok.addLombokGeneratedAnnotation=true
# Lombok will generate a @java.beans.ConstructorProperties annotation when generating constructor
lombok.anyConstructor.addConstructorProperties=true
