<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="${appName}">appName</title>
    <link href="/favicon.png" rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.png}"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link href="/webjars/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" rel="stylesheet" media="screen"
          th:href="@{/webjars/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css}"/>
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet" media="screen" th:href="@{/css/sticky-footer-navbar.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">
    header
</div>
<main role="main" class="container-fluid">
    <div layout:fragment="content">
        content
    </div>
</main>
<div th:replace="fragments/footer :: footer">
    footer
</div>
</body>
<!-- Below order is required ! -->
<script src="/webjars/jquery/3.4.1/jquery.min.js" th:href="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js" th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</html>
